.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 734px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 614px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 3.75rem;
  text-shadow: 0 0 40px rgba(44,204,196,0.55);
  margin: 87px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 30px 4px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 46px auto 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -44px auto 0 195px;
  padding: 10px 32px 11px 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 614px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-shape-1 {
  width: 486px;
  height: 465px;
  margin: 26px -6px 0 30px;
}

.u-section-1 .u-shape-2 {
  width: 374px;
  height: 374px;
  background-image: none;
  margin: -410px 50px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 389px;
  height: 259px;
  filter: brightness(0);
  animation-duration: 1000ms;
  margin: -316px 42px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 521px;
  }

  .u-section-1 .u-shape-1 {
    width: 440px;
    margin-right: auto;
    margin-left: -30px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 36px;
  }

  .u-section-1 .u-image-1 {
    height: 258px;
    margin-right: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 19px;
  }

  .u-section-1 .u-text-1 {
    line-height: 1;
    font-size: 3rem;
    width: auto;
    margin-top: 0;
    margin-right: 6px;
    margin-left: -6px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 6px;
    margin-left: -6px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -6px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 17px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-shape-1 {
    height: 370px;
    width: 330px;
    margin-top: 47px;
    margin-left: -15px;
  }

  .u-section-1 .u-shape-2 {
    width: 300px;
    height: 300px;
    margin-top: -335px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 199px;
    margin-top: -242px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
    align-self: center;
    margin-top: 30px;
    margin-left: auto;
    padding: 17px 59px 19px 57px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.25rem;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 582px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-shape-1 {
    width: 483px;
    height: 493px;
    margin-top: 0;
    margin-left: 19px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -396px;
    margin-right: auto;
    margin-left: 110px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -249px;
    margin-right: auto;
    margin-left: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 431px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-shape-1 {
    height: 378px;
    width: 359px;
    margin-right: -9px;
    margin-left: -19px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -335px;
    margin-left: 11px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 10px;
  }
}