.u-section-1 .u-sheet-1 {
  min-height: 805px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 685px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-gallery-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 625px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 685px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 40px 300px 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px 385px 30px 30px;
}

.u-section-1 .u-text-3 {
  margin-left: 20px;
  margin-right: 30px;
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  box-shadow: 0 0 40px 0 rgba(173,246,242,1);
  margin: 20px auto 0 20px;
  padding: 21px 14px 22px 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 565px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 565px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 220px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 24px;
    margin-right: 315px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 110px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 18px;
    margin-right: 205px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 21px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 19px;
    margin-right: 5px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 384px;
}

.u-section-2 .u-text-1 {
  width: 824px;
  margin: 0 auto;
}

.u-section-2 .u-custom-html-1 {
  width: 570px;
  min-height: 228px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 43px;
    margin-right: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
    margin-left: 33px;
    margin-right: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }
}

#time_counter {
  font-size: 5rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}