.u-section-1 {
  background-image: none;
  min-height: 777px;
}

.u-section-1 .u-image-1 {
  height: 562px;
  filter: brightness(0.55);
  margin: 0 auto 0 0;
}

.u-section-1 .u-list-1 {
  min-height: 298px;
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-template-rows: auto;
  width: 698px;
  grid-gap: 30px 30px;
  margin: -256px auto 0;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 0 0 40px rgba(219,84,90,1);
  margin: 25px -3px 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 29px -3px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  background-image: none;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 11px auto 0;
  padding: 10px 32px 10px 31px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-shadow: 0 0 40px rgba(219,84,90,1);
  margin: 25px -3px 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 29px -3px 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  background-image: none;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 11px auto 0;
  padding: 10px 32px 10px 31px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -413px 433px 0;
}

.u-section-1 .u-text-6 {
  margin: 14px 433px 0;
}

.u-section-1 .u-text-7 {
  margin: 281px calc(((100% - 1140px) / 2)) 60px calc(((100% - 1140px) / 2) + 923px);
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 742px;
  }

  .u-section-1 .u-image-1 {
    height: 455px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-top: -230px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 66px;
    padding-left: 64px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 66px;
    padding-left: 64px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -445px;
    margin-left: 303px;
    margin-right: 303px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 11px;
    margin-left: 303px;
    margin-right: 303px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    font-size: 0.625rem;
    margin-top: 290px;
    margin-right: calc(((100% - 940px) / 2) + -28px);
    margin-left: calc(((100% - 940px) / 2) + 534px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 349px));
  }

  .u-section-1 .u-text-5 {
    margin-left: 223px;
    margin-right: 223px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 223px;
    margin-right: 223px;
  }

  .u-section-1 .u-text-7 {
    margin: 541px calc(((100% - 720px) / 2) + -39px) 11px calc(((100% - 720px) / 2) + 492px);
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 855px;
  }

  .u-section-1 .u-list-1 {
    min-height: 551px;
    width: 540px;
    grid-template-columns: 100%;
    margin-top: -258px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -719px;
    margin-left: 133px;
    margin-right: 133px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-left: 133px;
    margin-right: 133px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 723px;
    margin-right: calc(((100% - 540px) / 2) + -37px);
    margin-left: calc(((100% - 540px) / 2) + 439px);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 943px;
  }

  .u-section-1 .u-image-1 {
    height: 489px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    min-height: 682px;
    width: 340px;
    margin-top: -333px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -786px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-text-7 {
    margin: 812px 50px 0 calc(((100% - 340px) / 2) + 200px);
  }
}