.u-section-1 {
  background-image: none;
  min-height: 777px;
}

.u-section-1 .u-image-1 {
  height: 500px;
  filter: brightness(0.55);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  min-height: 326px;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  width: 458px;
  grid-gap: 30px 30px;
  height: auto;
  margin: -275px auto 0;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 0 0 40px rgba(241,197,14,1);
  margin: 25px -3px 0;
}

.u-section-1 .u-text-2 {
  font-style: normal;
  font-size: 1.25rem;
  margin: 29px -3px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  background-image: none;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 11px auto 0;
  padding: 10px 32px 10px 31px;
}

.u-section-1 .u-text-3 {
  animation-duration: 1000ms;
  margin: -396px 433px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 0 0 40px rgba(0,0,0,1);
  margin: -76px 433px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 455px;
  }

  .u-section-1 .u-list-1 {
    width: 325px;
    margin-top: -215px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 66px;
    padding-left: 64px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -449px;
    margin-left: 303px;
    margin-right: 303px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 303px;
    margin-right: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 374px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: -7px;
    margin-right: -7px;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: 374px;
    margin-top: -436px;
    margin-left: 223px;
    margin-right: 223px;
  }

  .u-section-1 .u-text-4 {
    width: 374px;
    margin-left: 223px;
    margin-right: 223px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    margin-top: -258px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -3px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -430px;
    margin-left: 133px;
    margin-right: 133px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 133px;
    margin-right: 133px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-image-1 {
    height: 489px;
  }

  .u-section-1 .u-list-1 {
    min-height: 323px;
    width: 285px;
    margin-top: -244px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 43px;
    padding-left: 42px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    margin-left: 33px;
    margin-right: 33px;
  }
}